.user-info img {
	width: 100%;
}

.user-info .btn {
	margin-top: 15px;
}

.profile {
	margin-top: 50px;
}

.search_result {
	margin-top: 15px;
	position: absolute;
	width: 100%;
	z-index: 9999;
}

.search_result a:nth-child(even) {
	background-color: #007BFF;
	color: #fff;
}

.result_user_info {
	text-align: center;
	align-items: center;
	justify-content: space-around;
}

.box {
	position: relative;
	width: 80px;
	height: 80px;
	overflow: hidden;
	border-radius: 1000px;
}

.result_user_info .box img {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 100px;
	height: 100px;
	transform: translate(-50%, -50%);
	object-fit: cover;
}


.friend_info {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0 15px;
}

.friends_list {
	margin-top: 20px;
}
