.user-info img {
	width: 100%;
}

.user-info .btn {
	margin-top: 15px;
}

.profile {
	margin-top: 50px;
}

.search_result {
	margin-top: 15px;
	position: absolute;
	width: 100%;
	z-index: 9999;
}

.search_result a:nth-child(even) {
	background-color: #007BFF;
	color: #fff;
}

.result_user_info {
	text-align: center;
	align-items: center;
	justify-content: between;
}

.result_user_info .box {
	margin-right: 20px;
}

.result_user_info small {
	margin-left: 20px;
}

.box {
	position: relative;
	width: 80px;
	height: 80px;
	overflow: hidden;
	border-radius: 10px;
}

.box img {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 80px;
	height: 80px;
	transform: translate(-50%, -50%);
	object-fit: cover;
}

.friend-list {
	display: flex;
	flex-direction: row;
	justify-content: between;
	flex-basis: 50%;
}

.friend-list img {
	height: 100% !important;
}
